{% extends 'layout/base.html' %}
{% load crispy_forms_filters %}

{% block title %}Instructions Sent{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3 justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Check your email inbox</h1>
                <p class="text-center text-muted mt-3">
                    We have emailed you the instructions, so you can
                    reset your password.
                    You should receive the email within the next few minutes.
                </p>
            </div>
        </div>
    </div>
{% endblock %}